@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

body {
  font-family: "Urbanist";
  background-color: #282C34;
  color: white;
}

header, main {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

#logo-wrapper {
  font-family: "Consolas";
  font-size: 2em;
  color: dodgerblue;
  text-shadow: 1px 1px purple;
  padding: 20px 0;
}

#jan, #insertion-point {
  display: inline;
}

@keyframes blinking {
  from { visibility: hidden; }
  to { visibility: visible; }
}

#insertion-point {
  font-weight: bold;
  animation: blinking 1s steps(2, end) infinite;
}

#webring-wrapper {
  padding: 20px 0;
  margin: 40px 0;
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
}