header {
  font-family: sans-serif;
  text-align: center;
  padding: 5em;
}

:root {
  --background-color: #43ACD9;
  --drink-color: #FF4D3D;
  --drink-shadow: white;
  --semi-transparent-white: #95CEE9;
  --orange-rind: #FFA500;
  --orange-pith: #FFBC40;
  --cube-size: 50px;
}

body{
  background:var(--background-color);
}

.box-canvas{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 18%;
  margin-bottom: 8%;
  width: 600px;
  height:680px;
  background: var(--background-color);
}

/* orange styling */
.orange {
  position: absolute;
  left: 105px;
  top: -54px;
  width: 175px;
  height: 100px;
  overflow: hidden;
  transform: rotate(-25deg);
  z-index: 2;
}

/* Main orange background */
.orange::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  width: 155px;
  height: 175px;
  background: var(--orange-pith);
  border-radius: 50%;
  border: 10px solid var(--orange-rind);
}

/* Line going into middle of orange to look like glass edge */
.orange::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 83px;;
  height: 30px;
  width: 10px;
  border-radius: 40%;
  border-left: 1px solid white;
  transform: rotate(-10deg);
}

/* Shared segment styles */
.segment {
  position: absolute;
  bottom: 5px;
  width: 65px;
  height: 25px;
  border: 2px solid var(--orange-pith);
  background: var(--orange-rind);
}

.segment-left {
  right: 50%;
  border-radius: 30% 50% 50% 30%;
}

.segment-right {
  left: 50%;
  border-radius: 50% 30% 30% 50%;
}

/* Shared middle segment styles */
.segment::before {
  content: '';
  position: absolute;
  bottom: 10px;
  width: 65px;
  height: 25px;
  border: 2px solid var(--orange-pith);
  background: var(--orange-rind);
}

/* left middle segment */
.segment-left::before {
  right: -15px;
  border-radius: 30% 50% 50% 30%;
  transform: rotate(45deg);
}

/* right middle segment */
.segment-right::before {
  left: -15px;
  border-radius: 50% 30% 30% 50%;
  transform: rotate(-45deg);
}

/* middle orange segment */
.segment-right::after {
  content: '';
  position: absolute;
  left: -35px;
  bottom: 15px;
  width: 65px;
  height: 25px;
  border: 2px solid var(--orange-pith);
  background: var(--orange-rind);
  transform: rotate(90deg);
  border-radius: 30% 50% 50% 30%;
}

/* wine glass */
.glass{
  height:220px;
  width:200px;
  background:var(--semi-transparent-white);
  margin:30px auto;
  border-radius: 50% 50% 10% 10%;
  transform: rotate(180deg);  
  overflow:hidden;
}

/* glass rim */
.glass-rim {
  position: absolute;
  top: -20px;
  left: 201px;
  width: 196px;
  height: 80px;
  background: var(--semi-transparent-white);
  border: 1px solid white;
  border-radius: 50%;
  z-index: 1;
}

/* liquid */
.drink{
  background-color:var(--drink-color);
  height:140px;
  border-radius: 50% 50% 0 0;
  border-radius: 50% 50% 18% 18%;
}

.drink-top {
  position: absolute;
  top: 75px;
  left: 0px;
  width: 198px;
  height: 80px;
  background: var(--drink-color);
  border: 1px solid #FF8A80;
  border-radius: 50%;
  z-index: 2;
}

/* ice cubes */
.ice-wrapper {
  position:absolute;
  left:15%;
  top:35%;
  width:var(--cube-size);
  height:var(--cube-size);
  transform-style:preserve-3d;
  transform:rotateX(-30deg) rotateY(35deg) translate(-50%, -50%);
  z-index: 2;
}

.ice-wrapper.two{
  top: 25%;
  left: 50%;
  transform: rotate3d(0, 1, 1, 45deg);
}

.ice-wrapper.three{
  top: 5%;
  left: 50%;
  transform: rotate3d(0, 1, 1, 78deg);
}

.cube {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-style: preserve-3d;
}

.cube div {
  position:absolute; 
  left:50%; 
  top:50%;
  width:var(--cube-size); 
  height:var(--cube-size); 
  border-radius:var(--cube-size)/12;
  background:rgba(221,221,221,0.2); 
  background:linear-gradient(rgba(237,237,237,0.3),rgba(153,153,153,0.1));
  box-shadow:0 0 4px rgba(255,255,255,0.2),inset 0 0 4px rgba(255,255,255,0.2);
}

.back {
  transform: rotateX(180deg) translate3d(0, 0, 25px);
}
.right {
  transform: rotateY(90deg) translate3d(0, 0, 25px);
}
.left {
  transform: rotateY(-90deg) translate3d(0, 0, 25px);
}
.top {
  transform: rotateX(90deg) translate3d(0, 0, 25px);
}
.bottom {
  transform: rotateX(270deg) translate3d(0, 0, 25px);
}
.front {
  transform: translate3d(0, 0, 25px);
}

/* bottom of the glass */
.stem{
  height:130px;
  width:15px;
  background:var(--semi-transparent-white);
  margin:-30px auto;
  border-radius:0 0 5px 5px;
  position: relative;
  border-bottom: 1px solid white;
}

.base{
  width:100px;
  height:30px;
  background-color:var(--semi-transparent-white);
  margin:16px auto;
  border-radius:50%; 
}

.shadow{
  position: absolute;
  top: 320px;
  left: 200px;
  width: 200px;
  height: 80px;
  border-radius: 50%;
  background: rgba(0,0,0, 0.05);
}

/* bubble effect */
.glass .bubble-right {
  left: 74px;
  animation-delay: 0.75s;
}

.glass .bubble-left {
  left: 120px;
  animation-delay: 0s;
}

.bubble {
  top: 0;
  position: absolute;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  animation: bubbleUp 2s infinite;
  width: 10px;
  height: 10px;
}

.bubble::before {
  content: '';
  width: 5px;
  height: 5px;
  left: 20px;
  position: absolute;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  animation: bubbleUp 1s infinite;
}

.bubble::after {
  content: '';
  width: 8px;
  height: 8px;
  right: 20px;
  position: absolute;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  animation: bubbleUp 1.5s infinite;
}

@keyframes bubbleUp {
  100% {
    transform: translateY(50px);
    background: transparent;
  }
}